<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="MatchFilterMapper">

    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="matchMap" type="com.newdeal.footballMaster.model.MatchFilter">

    	<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="area" column="area" />
        <result property="match_date" column="match_date" />
		<result property="gender_rule" column="gender_rule" />
		<result property="level" column="level" />
		<result property="field_id" column="field_id" />
		<result property="manager_id" column="manager_id" />
		
    </resultMap>
	
	<!-- 매치 정보 가져오기 -->
    <select id="matchFilterList" parameterType="com.newdeal.footballMaster.model.MatchFilter"
        resultMap="matchMap">
        SELECT HOUR(match_date),
        	   IF(gender_rule='M', '남성', IF(gender_rule='F', '여성', '혼성')) AS gender_rule,
        	   IF(level='L', '일반 (Lv 1~5)', IF(level='M', '중급 (Lv 3~5)', '고급 (Lv 5)')) AS level,
        	   area,
        	   name
        FROM footballMaster.match m, field f
		WHERE m.field_id = f.id
		AND gender_rule IN #{gender_rule}
		AND level IN #{level}
		AND area = #{area}
		AND match_date BETWEEN #{day}000000 AND #{day}235959
		ORDER BY match_date; 
    </select>
    
   <!--  SELECT area FROM `footballmaster`.`field`; -->
    	<!-- 지역 정보 가져오기 -->
    <select id="regionFilterList" resultType="java.lang.String">
        SELECT area
        FROM footballMaster.field
    </select>

</mapper>